<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.rahul.media"
    android:versionCode="1"
    android:versionName="1.0">


    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <uses-permission android:name="android.permission.READ_INTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_INTERNAL_STORAGE" />

    <application android:allowBackup="true">

        <activity
            android:name="com.rahul.media.activity.MultipleImagePreviewActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label=""
            android:screenOrientation="portrait" />
        <activity
            android:name="com.rahul.media.activity.HidePlateActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label=""
            android:screenOrientation="portrait" />
        <activity
            android:name="crop.CropImageActivity"
            android:label="Crop"
            android:screenOrientation="portrait" />


        <activity
            android:name=".imagemodule.ImageAlbumListActivity"
            android:label="@string/album"
            android:screenOrientation="portrait" />


        <activity
            android:name="com.theartofdev.edmodo.cropper.CropImageActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Base.Theme.AppCompat" />
        <activity
            android:name=".imagemodule.ImageGalleryPickerActivityPlus"
            android:screenOrientation="portrait" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="app.com.syarah.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

    </application>

</manifest>